# === ROS Build Artifacts ===
build/
devel/
install/
log/
*.pyc
*.pyo
*.swp
*.swo
*.so
__pycache__/
.ccls-cache/
.vscode/
.idea/

# === ROS Configuration & Temp Files ===
*.launch~
*.yaml~
*.rviz~
*.bak

# === ROS Generated or Local Files ===
*.dae
*.stl
*.urdf
*.xacro~

# === Waypoint & Runtime Files ===
waypoints/*.txt
config/*.txt
*.log

# === Bag files and datasets ===
*.bag
*.bag.active

# === Clearpath or Vendor Files ===
husky/
# === pose logs ===
pose_logs

# === natnet ===
natnet_ros_cpp/
# === husky pose collect ===
husky_pose_collect/
