<launch>
  <!-- URDF & TF Setup -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <!-- Joystick input -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/ps4" />
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" output="screen">
    <rosparam>
      axis_linear: 1
      axis_angular: 0
      enable_button: 4
      enable_turbo_button: 5
      scale_linear: 0.4
      scale_linear_turbo: 2.0
      scale_angular: 1.4
    </rosparam>
  </node>

  <!-- Move Base -->
  <include file="$(find husky_navigation)/launch/move_base.launch" />

  <!-- Waypoint Collector (PS4 Buttons: Cross to collect, Square to end) -->
  <node pkg="husky_waypoint_nav" type="collect_optitrack_waypoints.py" name="collect_optitrack_waypoints" output="screen">
  <param name="outdoor_waypoint_nav/coordinates_file" value="$(find husky_waypoint_nav)/config/optitrack_waypoints.txt" />
  <param name="outdoor_waypoint_nav/collect_button_num" value="2" />
  <param name="outdoor_waypoint_nav/end_button_num" value="0" />
  <param name="outdoor_waypoint_nav/collect_button_sym" value="cross" />
  <param name="outdoor_waypoint_nav/end_button_sym" value="square" />
  <param name="reference_frame" value="odom" />
  </node>


  <!-- Waypoint Navigator (uses OptiTrack data) -->
  <node pkg="husky_waypoint_nav" type="optitrack_waypoint_navigator.py" name="optitrack_waypoint_navigator" output="screen">
    <param name="outdoor_waypoint_nav/coordinates_file" value="$(find husky_waypoint_nav)/config/optitrack_waypoints.txt" />
    <param name="outdoor_waypoint_nav/loop_mode" value="true" />
    <param name="outdoor_waypoint_nav/pause_button_num" value="3" />
    <param name="outdoor_waypoint_nav/resume_button_num" value="1" />
    <param name="outdoor_waypoint_nav/package_path" value="$(find husky_waypoint_nav)/config" />
  </node>
</launch>
