<launch>
  <group>
    <!-- Launch map server using your static blank_map.yaml -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find husky_waypoint_nav)/config/blank_map.yaml" output="screen" />

    <!-- Run move_base with map -->
    <include file="$(find husky_navigation)/launch/move_base.launch" />

    <!-- Load nav overrides (with map + DWA or NavFn) -->
    <rosparam file="$(find husky_waypoint_nav)/config/with_map_nav_overrides.yaml" command="load" ns="move_base" />
  </group>
</launch>
